* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, body > div {
    height: 100%;
}
.main {
    padding: 50px;
    flex: 1 1 auto;
}
.user-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
.user-item__content {
    display: flex;
    gap: 5px;
}
.user-item {
    width: calc(25% - 16px);
    padding: 12px;
    border: 1px solid #000;
    border-radius: 8px;
}
.user-item__text-capitalize {
    text-transform: capitalize;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    gap: 12px;
}
.header {
    padding: 10px 0;
}